<section class="color  h-100 " >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
                <div class=" staffregphto col-xl-6 d-none d-xl-block">
                    <img src="assets/imgsrc/staffreg.png"
                      alt="Sample photo" class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Staff registration form</h3>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Last name</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m1">Employee Id</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n1">Branch</label>
                      </div>
                    </div>
                  </div>
  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Address</label>
                  </div>
  
                
  
                  <div class="row">
                    <div class=" Position mb-4">
  
                      <select data-mdb-select-init>
                        <option value="1">Position</option>
                        <option value="2">General Manager</option>
                        <option value="3">Technical Officer</option>
                        <option value="4">Field Assistant</option>
                      </select>
  
                    </div>  
                   
                    
                  </div>  

               
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">RESET</button>
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg ms-2">SUBMIT</button>
                  </div>
  
                </div> 
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>